<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true"
         stopOnFailure="false"
         bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Linio Framework Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">DynamicFormBundle</directory>
            <exclude>
                <directory suffix=".php">vendor</directory>
                <directory suffix=".php">tests</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">tests</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./coverage.xml"/>
    </logging>
</phpunit>
